.App {
  text-align: center;
}

.nav-logo {
  width: 20%;

}
.svg-wrapper{
  width: 100vh;
  height: 65vh;
  border: 2px solid;
  margin: 2rem;
}

.button-svg {
  width: 15vh;
  height: 15vh;
}

svg {
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: -40;
}

.About {
  padding: 5%;  
  background: linear-gradient(90deg, #6200F8 0%, #3060CB 0.01%, #00BCA1 99.99%, #00BCA1 100%); 
  color: #fff;
}
.AboutContainer {
  width: 770px;
  height: 312px;
  left: 335px;
  top: 299px;
}

.table-container {
  margin: 4%;
}

.Footer {
  background: #F3F0F0;
  position: absolute;
  bottom: 0; 
  width: 100%; 
  height: 3rem;
}