:root {
  --table-color-female: 241, 225, 215;
  --table-color-male: 219, 230, 245;
  --table-color-sum-other: 241, 232, 205;
  --percent-transparency: 0.7
}

svg {
  width: 100%;
  height: 100%;
}

.svg-chart {
  background-color: #C4C4C4;
  float: left;
  width: 100%;
  margin-bottom: 15%;
  overflow: visible;
}

.svg-scatter {
  background-color: #C4C4C4;
  float: left;
  width: 100%;
  overflow: visible;
  margin-bottom: 15%;
}

.axis-label{
  overflow: visible;
}

.input-wrapper {
  height: 70vh; 
  width: auto;
  overflow: auto;
}

.table-container {
  overflow: auto;
  display: block;
  table-layout: auto;
}

.world-map {
  width: 100%;
  height: 50vh;
}
.country {
  stroke: black;
  stroke-width: 0.05px;
}
.country:hover {
  stroke: black;
  stroke-width: 0.5px;
}

.label {
  background-color: white;
  width: 50px;
}

.scatter-plot-container{
  display: flexbox;
}

.heading-left{
  align-items: left;
}

.table {
  overflow: auto;
  display: block;
  table-layout: auto;
}

.first-col{
  text-align: center;
  width: 25%;
}

thead {
  text-align: center
}

tbody {
  text-align: right;
}

.show>.dropdown-menu {
  display: block;
}

.gender-col-percent-male{
  background-color: rgba(var(--table-color-male), var(--percent-transparency));
}

.gender-col-percent-female{
  background-color: rgba(var(--table-color-female), var(--percent-transparency));
}

.gender-col-percent-sum-other {
  background-color: rgba(var(--table-color-sum-other), var(--percent-transparency));
}

.inline-block{
  display: inline;
}

.info-div{
  width: 3%;
}

.flex{
  display: flex;
}

.viz-heading{
  display: flex;
  justify-content: space-between;
}

#column-info-icon{
  width: 10%;
}

.icon{
  width: 100%;
}

.above-graph-icon{
  width: 40%;
}

.column-icon{
  width: 20%;
}

.other-gender-col-heading{
  justify-content: center;
  display: flex;
}