.App {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    border-color: #808080;
    border-width: 0 0.1px;
    border-style: solid;
}

.About {
	padding: 2px 24px 27px 24px;
}

/* 
in world map component every country has .country + .unSelectedCountry and when filter selects then .country + .selectedCountry
every country is selected by default until there are filter selections 
*/
.country {

}

.selectedCountry{

}

.unSelectedCountry {
    fill: black; 
    fill-opacity: 10%;
}

